{% extends 'app/base.html' %}

{% block page_title %}Home{% endblock page_title %}

{% block content %}
    <div class="jumbotron text-center bg-light py-5">
        <h1 class="display-4">Welcome to EduFlip!</h1>
        <p class="lead">Flip the Way You Learn</p>
        <hr class="my-4">
        <p>Embark on a journey towards lifelong learning with a twist. Dive into our diverse range of flashcards and transform the way you absorb knowledge.</p>
        {% if user.is_authenticated %}
            <a class="btn btn-primary btn-lg" href="{% url "create_flashcards" %}" role="button">Start Flipping</a>
        {% else %}
            <a class="btn btn-success btn-lg" href="{% url "register" %}" role="button">Join EduFlip Today</a>
        {% endif %}
    </div>

    <div class="container mt-5">
        <div class="row py-5">
            <div class="col-md-4">
                <div class="feature-box">
                    <i class="icon fas fa-brain fa-3x"></i>
                    <h3>Engage Your Mind</h3>
                    <p>Interactive and stimulating flashcards designed to challenge your brain and boost your memory.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <i class="icon fas fa-users fa-3x"></i>
                    <h3>Social Learning</h3>
                    <p>Connect with peers, share flashcard sets, and learn together. EduFlip makes studying a social experience.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <i class="icon fas fa-book-open fa-3x"></i>
                    <h3>Vast Resources</h3>
                    <p>Access a wide range of subjects and topics. Whether you're a student, professional, or curious mind, we’ve got you covered.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="mb-4">Find Your Flashcard Set</h2>
                <p class="lead">Explore a vast collection of flashcards across various subjects to boost your learning journey.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <form action="{% url 'browse_flashcards' %}" method="post" class="input-group mb-3">
                {% csrf_token %}
                    <input type="text" name="topic" class="form-control me-2" placeholder="Search for flashcards (e.g., 'Python Basics', 'World History')  " aria-label="Search Flashcards" id="id_topic">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Search</button>
                    </div>
            </form>
        </div>
    </div>

    
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
{% endblock %}
