{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_title %}Study{% endblock page_title %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/flashcards.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock head_block %}

{% block content %}
    <div class="flashcard-set-info p-3 pt-3 mb-5 position-relative">
        {% if is_favorited %}
            <a href="{% url 'remove_favorite' flashcard_set.id %}" class="btn-favorite position-absolute">
                <i class="fas fa-star"></i> <!-- Filled star -->
            </a>
        {% else %}
            <a href="{% url 'add_favorite' flashcard_set.id %}" class="btn-favorite position-absolute">
                <i class="far fa-star"></i> <!-- Hollow star -->
            </a>
        {% endif %}

        {% if is_owner %}
            <a href="{% url 'delete_flashcards' flashcard_set.id %}" class="btn btn-danger position-absolute" style="bottom: 15px; right: 20px;">
                <i class="fas fa-trash-alt"></i> Delete Set
            </a>
        {% endif %}

        <h2 class="mb-4">{{ flashcard_set.topic }}</h2>
        <p><strong>Created By:</strong> {{ flashcard_set.user.username }}</p>
        <p><strong>Date Created:</strong> {{ flashcard_set.created_at|date:"F d, Y" }}</p>
        <p><strong>Study Level:</strong> {{ flashcard_set.study_level|title }}</p>
        <p><strong>Number of Cards:</strong> {{ flashcard_set.number_of_flashcards }}</p>
    </div>

    


    <div class="row flashcard-container">
        {% for flashcard in flashcards %}
        <div class="col-md-4 mb-5">
            <div class="flashcard">
                <div class="card-content bg-primary text-white rounded border">
                    <div class="card-front card-body">
                        <p class="card-text px-2 py-4">{{ flashcard.question }}</p>
                    </div>
                    <div class="card-back card-body">
                        <p class="card-text px-2 py-4">{{ flashcard.answer }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="{% static 'js/flashcards.js' %}"></script>
{% endblock %}
